# Test data
DATA/
DATA 1/

# Executables
*.exe
*.dll

# Temp. test &  source files, compiler results, logs
[Bb]ackup.*
*.log
*.tra
*.bak
*.ba_

# Other tools
OpenFile.*

# Misc. (binary) files
1.txt
dfot.cmd
dfot1.cmd
*.zip
