# Test data
DATA/
DATA 1/

# Executables
*.exe
*.dll

# Temp. test &  source files, compiler results, logs
[Bb]ackup.*
*.log
*.tra
SizeTest.*

# Other tools
OpenFile.*

# Misc. (binary) files
*.txt
dfot.cmd
dfot1.cmd
